* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  overflow: hidden;
}

@media only screen and (min-width: 320px) {
  .header {
    height: 140px;
  }
  .header-nav {
    background: #333333;
  }
  .container {
    max-width: 320px;
    margin: 0 auto;
  }
  .header-nav-block:nth-child(1) {
    font-size: 13px;
    font-weight: 600;
    color: #777777;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .header-nav-block:nth-child(2) {
    width: 360px;
    display: flex;
    margin-left: 50px;
    flex-direction: row;
    align-items: center;
  }
  .header-nav-block_links a {
    text-transform: none;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 600;
    margin: 0 10px;
    color: #777777;
  }
  .header-nav-items {
    position: relative;
  }
  .header-nav-items-basket {
    border: none;
    cursor: pointer;
    padding: 15px 33px;
    position: relative;
    background: #00c8c8;
    font-family: Montserrat;
    font-size: 13px;
    color: #fff;
  }
  .header-block__items-actions p {
    text-align: center;
    margin-top: 20px;
    text-transform: capitalize;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 15px;
    color: #222;
  }
  .header-block__items-actions button {
    border: none;
    background: #00c8c8;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 3px;
    font-family: Montserrat;
    font-size: 15px;
    color: #fff;
  }
  .header-block__items-actions button:nth-child(2) {
    margin-left: 50px;
  }
  .header-nav-items:hover .header-block__items {
    display: block;
  }
  .header-block__items {
    display: none;
    padding: 20px;
    width: 310px;
    border-radius: 3px;
    background: #f8f8f8;
    box-shadow: 0 0 5px 0 #646363;
    position: absolute;
    top: 103%;
    left: -185px;
    z-index: 16;
  }
  .header-block__items-actions p {
    text-align: center;
    margin-top: 20px;
    text-transform: capitalize;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 15px;
    color: #222;
    display: flex;
  }
  .header-holder {
    background: #f8f8f8;
    padding: 20px 0 0 0;
  }
  .header-holder__box {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header-holder__box #bars {
    display: none;
  }
  .header-holder__nav label {
    position: absolute;
    left: 270px;
    top: 0;
    z-index: 15;
  }
  .header-holder__nav label i {
    font-size: 30px;
  }
  .header-holder__logo {
    position: relative;
    z-index: 2;
    left: 17px;
  }
  .header-holder__logo a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
    color: #222;
  }
  .header-holder__logo a span {
    font-weight: 800;
  }
  .header-holder__list {
    height: 506px;
    z-index: 5;
    position: relative;
    left: 120%;
    background: white;
    top: -46px;
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: 0.3s;
  }
  .header-holder__box #bars:checked ~ .header-holder__list {
    left: 0;
  }
  .header-holder__list-item {
    display: inline-block;
    position: relative;
    padding: 20px 0;
    text-align: center;
    top: 50px;
  }
  .header-holder__list-item:hover .link {
    color: #00c8c8;
  }
  .header-holder__list-item:nth-child(1):hover .header-holder__submenu {
    display: block;
  }
  .header-holder__list-item:nth-child(2):hover .header-holder__submenu {
    display: block;
  }
  .header-holder__list-item:nth-child(5):hover .header-holder__submenu {
    display: block;
  }
  .header-holder__list a {
    transition: 0.3s all linear;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 600;
    color: #222;
  }
  .header-holder__submenu {
    width: 350px;
    display: none;
    padding: 27px 29px;
    background: #f8f8f8;
    transform: translateX(-50%);
    box-shadow: 0 17px 24px rgba(0, 0, 0, 0.14);
    position: absolute;
    top: 52px;
    left: 50%;
    z-index: 5;
  }
  .header-holder__form {
    position: absolute;
    z-index: 4;
    top: 360px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
  }
  .header-holder__form input {
    width: 190px;
    height: 30px;
    padding: 10px;
    border: 1px solid #e7e7e7;
    background-color: #f8f8f8;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    color: #989898;
  }
  .header-holder__form button {
    border: none;
    background: none;
    cursor: pointer;
    color: #989898;
    position: absolute;
    top: 7px;
    right: 5px;
    z-index: 4;
  }
  .header-holder__submenu-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .header-holder__submenu-inner div:nth-child(1) {
    flex-basis: 60%;
  }
  .header-holder__submenu p {
    margin-bottom: 24px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 20px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    color: #575153;
  }
  ul {
    list-style: none;
  }
  .header-holder__submenu a {
    text-transform: none;
    text-decoration: none;
    line-height: 20px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    color: #575153;
  }
  .header-holder__submenu-inner div:nth-child(2) {
    flex-basis: 40%;
  }
  .header-holder__submenu-banner {
    margin-top: 57px;
    text-align: center;
    background: #333333;
    padding: 53px 53px 35px 53px;
  }
  .header-holder__submenu-banner p {
    text-transform: uppercase;
    text-decoration: none;
    line-height: 32px;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 600;
    color: #fff;
  }
  .banner {
    height: 450px;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: url(../images/bannerBg.png) 100% 100%;
  }
  .banner::before {
    content: "";
    background: #333;
    opacity: 0.7;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
  }
  .banner-block {
    color: #fff;
    z-index: 2;
  }
  .banner p:nth-child(1) {
    font-size: 28px;
    font-weight: 300;
  }
  .banner p:nth-child(1) span {
    font-weight: 700;
    margin-right: 20px;
  }
  .banner p:nth-child(2) {
    margin-top: 35px;
    font-size: 17px;
    font-weight: 400;
    color: #fff;
  }
  .footer {
    margin-top: 120px;
  }
  .footer-block {
    background: #f8f8f8;
  }
  .footer-block-box {
    display: flex;
    flex-wrap: wrap;
    padding: 60px 0;
    justify-content: space-around;
  }
  .footer-link {
    flex-basis: 39%;
    margin: 10px 10px;
  }
  .footer-link p {
    margin-bottom: 25px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 20px;
    font-size: 13px;
    font-weight: 600;
    color: #575153;
  }
  .footer-link-list {
    list-style: none;
  }
  .footer-link-list a {
    transition: 0.3s all linear;
    text-transform: none;
    text-decoration: none;
    line-height: 30px;
    font-size: 14px;
    font-weight: 400;
    color: #575153;
  }
  .footer-link-list a:hover {
    color: #00c8c8;
  }
  .footer-ban {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer-ban-item {
    width: 570px;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .footer-ban-item p {
    text-transform: uppercase;
    text-decoration: none;
    line-height: 48px;
    font-size: 36px;
    font-weight: 300;
    color: #fff;
  }
  .footer-ban-item p:nth-child(1) {
    font-weight: 700;
  }
  .footer-ban-item:nth-child(1) {
    background: #333333;
    flex-direction: column;
  }
  .footer-ban-item:nth-child(2) {
    background: #00c8c8;
  }
  .footer-ban-item a {
    text-transform: uppercase;
    text-decoration: none;
    line-height: 48px;
    font-size: 36px;
    font-weight: 300;
    color: #fff;
    margin: 0 25px;
  }
  .footer-info {
    margin-top: 56px;
    background: #333333;
  }
  .footer-info-block {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
  .footer-info-item {
    padding: 16px 0;
    font-size: 13px;
    font-weight: 400;
    color: #999999;
  }
  .footer-info-item span:nth-child(2) {
    margin-left: 30px;
  }
  .info {
    margin-top: 100px;
  }
  .info .info-block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .info-item {
    flex-basis: 90%;
  }
  .info-item p:nth-child(1) {
    margin: 10px 0;
    font-size: 20px;
    font-weight: 700;
    color: #575153;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .info-item p:nth-child(2) {
    margin: 10px 0;
    font-size: 15px;
    color: #575153;
    font-weight: 700;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .info-item p:nth-child(3) {
    line-height: 22px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #8e8c8c;
  }
  .info-item a {
    display: inline-block;
    border: 2px solid #737373;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    color: #777777;
    transition: 0.3s all linear;
    margin-top: 28px;
    padding: 19px 43px;
  }
  .info-item a:hover {
    color: #fff;
    border: 2px solid #00c8c8;
    background: #00c8c8;
  }
  .location {
    margin-top: 100px;
  }
  .location-map {
    height: 250px;
  }
  .location-info {
    padding: 10px;
    background: #f8f8f8;
  }
  .location-info p {
    line-height: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #575153;
  }
  .location-info p:nth-child(2) {
    font-size: 13px;
    margin: 20px 0 12px 0;
  }
  .location-info p:nth-child(3) {
    line-height: 22px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #8e8c8c;
  }
  .location-info-item {
    margin: 30px 0 55px 0;
    line-height: 32px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #727272;
  }
  .location-info-item li {
    list-style: none;
  }
  .location-info-item span {
    margin-left: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 90%;
    margin: 0 auto;
  }
  .header-nav-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .header-nav-block:nth-child(2) {
    width: 360px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header-block__items {
    display: none;
    padding: 20px;
    width: 380px;
    border-radius: 3px;
    background: #f8f8f8;
    box-shadow: 0 0 5px 0 #646363;
    position: absolute;
    top: 103%;
    left: -250px;
    z-index: 3;
  }
  .header-block__items-actions p {
    display: block;
  }
  .header-holder__nav label {
    position: absolute;
    left: 660px;
    top: 0;
    z-index: 15;
  }
  .header-holder__logo a {
    font-size: 34px;
  }
  .header-holder__box #bars:checked ~ .header-holder__list {
    left: 48%;
  }
  .header-holder__list {
    height: 544px;
    top: -58px;
    width: 400px;
  }
  .header-holder__list-item {
    padding: 30px 0;
  }
  .header-holder__form {
    top: 400px;
  }
  .header-holder__submenu {
    width: 540px;
  }
  .banner-block p:nth-child(1) {
    font-size: 48px;
  }
  .banner-block p:nth-child(2) {
    font-size: 30px;
  }
  .footer-link {
    flex-basis: 29%;
  }
  .footer-ban {
    flex-wrap: nowrap;
  }
  .footer-info-block {
    justify-content: space-between;
  }
  .info-block {
    justify-content: space-around;
  }
  .info-item {
    flex-basis: 45%;
  }
  .location {
    display: flex;
    justify-content: space-between;
  }
  .location-info {
    flex-basis: 50%;
  }
  .location-map {
    flex-basis: 50%;
    height: 500px;
  }
}
@media only screen and (min-width: 1024px) {
  .header-holder__box {
    align-items: flex-start;
  }
  .header-holder__list {
    left: 0;
    background: none;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 66%;
    height: 73px;
    transition: 0.3s;
  }
  .header-holder__nav {
    display: none;
  }
  .header-holder__list-item {
    padding: 42px 0 51px 0;
    display: inline-block;
    position: relative;
    margin-left: 50px;
    top: -30px;
  }
  .header-holder__form {
    top: 40px;
    left: 556px;
  }
  .footer-link {
    flex-basis: 17%;
  }
  .info-item {
    flex-basis: 30%;
    margin: 0 10px;
  }
}
@media only screen and (min-width: 1440px) {
  .header-nav {
    background: #333333;
  }
  .container {
    max-width: 1170px;
    margin: 0 auto;
  }
  .header-nav-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header-nav-block:nth-child(1) {
    font-size: 13px;
    font-weight: 600;
    color: #777777;
    display: flex;
  }
  .header-nav-block:nth-child(2) {
    width: 360px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header-nav-block_links a {
    text-transform: none;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 600;
    margin: 0 10px;
    color: #777777;
  }
  .header-nav-items {
    position: relative;
  }
  .header-nav-items-basket {
    border: none;
    cursor: pointer;
    padding: 15px 33px;
    position: relative;
    background: #00c8c8;
    font-family: Montserrat;
    font-size: 13px;
    color: #fff;
  }
  .header-block__items-actions p {
    text-align: center;
    margin-top: 20px;
    text-transform: capitalize;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 15px;
    color: #222;
  }
  .header-block__items-actions button {
    border: none;
    background: #00c8c8;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 3px;
    font-family: Montserrat;
    font-size: 15px;
    color: #fff;
  }
  .header-block__items-actions button:nth-child(2) {
    margin-left: 50px;
  }
  .header-nav-items:hover .header-block__items {
    display: block;
  }
  .header-block__items {
    display: none;
    padding: 20px;
    width: 450px;
    border-radius: 3px;
    background: #f8f8f8;
    box-shadow: 0 0 5px 0 #646363;
    position: absolute;
    top: 103%;
    left: -250px;
    z-index: 3;
  }
  .header-block__items-actions p {
    text-align: center;
    margin-top: 20px;
    text-transform: capitalize;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 15px;
    color: #222;
  }
  .header-holder {
    background: #f8f8f8;
    padding: 0;
  }
  .header-holder__box {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
  .header-holder__logo {
    position: relative;
    z-index: 2;
    left: 0;
  }
  .header-holder__logo a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 34px;
    color: #222;
  }
  .header-holder__logo a span {
    font-weight: 800;
  }
  .header-holder__list {
    z-index: 2;
    position: relative;
    height: 113px;
    top: 40px;
    left: 120px;
  }
  .header-holder__list-item {
    padding: 42px 0 51px 0;
    display: inline-block;
    position: relative;
    margin-left: 50px;
  }
  .header-holder__list-item:hover .link {
    color: #00c8c8;
  }
  .header-holder__list-item:nth-child(1):hover .header-holder__submenu {
    display: block;
  }
  .header-holder__list-item:nth-child(2):hover .header-holder__submenu {
    display: block;
  }
  .header-holder__list-item:nth-child(5):hover .header-holder__submenu {
    display: block;
  }
  .header-holder__list a {
    transition: 0.3s all linear;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 600;
    color: #222;
  }
  .header-holder__submenu {
    width: 470px;
    display: none;
    padding: 27px 29px;
    background: #f8f8f8;
    transform: translateX(-70%);
    box-shadow: 0 17px 24px rgba(0, 0, 0, 0.14);
    position: absolute;
    top: 92px;
    left: 0;
    z-index: 5;
  }
  .header-holder__form {
    position: absolute;
    top: 12px;
    left: -70px;
    z-index: 4;
  }
  .header-holder__form input {
    width: 190px;
    height: 30px;
    padding: 10px;
    border: 1px solid #e7e7e7;
    background-color: #f8f8f8;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    color: #989898;
  }
  .header-holder__form button {
    border: none;
    background: none;
    cursor: pointer;
    color: #989898;
    position: absolute;
    top: 7px;
    right: 5px;
    z-index: 4;
  }
  .header-holder__submenu-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .header-holder__submenu-inner div:nth-child(1) {
    flex-basis: 60%;
  }
  .header-holder__submenu p {
    margin-bottom: 24px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 20px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    color: #575153;
  }
  ul {
    list-style: none;
  }
  .header-holder__submenu a {
    text-transform: none;
    text-decoration: none;
    line-height: 20px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    color: #575153;
  }
  .header-holder__submenu-inner div:nth-child(2) {
    flex-basis: 40%;
  }
  .header-holder__submenu-banner {
    margin-top: 57px;
    text-align: center;
    background: #333333;
    padding: 53px 53px 35px 53px;
  }
  .header-holder__submenu-banner p {
    text-transform: uppercase;
    text-decoration: none;
    line-height: 32px;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 600;
    color: #fff;
  }
  .footer {
    margin-top: 120px;
  }
  .footer-block {
    background: #f8f8f8;
  }
  .footer-block-box {
    display: flex;
    padding: 60px 0;
    justify-content: space-between;
  }
  .footer-link {
    flex-basis: 17%;
  }
  .footer-link p {
    margin-bottom: 25px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 20px;
    font-size: 13px;
    font-weight: 600;
    color: #575153;
  }
  .footer-link-list {
    list-style: none;
  }
  .footer-link-list a {
    transition: 0.3s all linear;
    text-transform: none;
    text-decoration: none;
    line-height: 30px;
    font-size: 14px;
    font-weight: 400;
    color: #575153;
  }
  .footer-link-list a:hover {
    color: #00c8c8;
  }
  .footer-ban {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-ban-item {
    width: 570px;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .footer-ban-item p {
    text-transform: uppercase;
    text-decoration: none;
    line-height: 48px;
    font-size: 36px;
    font-weight: 300;
    color: #fff;
  }
  .footer-ban-item p:nth-child(1) {
    font-weight: 700;
  }
  .footer-ban-item:nth-child(1) {
    background: #333333;
    flex-direction: column;
  }
  .footer-ban-item:nth-child(2) {
    background: #00c8c8;
  }
  .footer-ban-item a {
    text-transform: uppercase;
    text-decoration: none;
    line-height: 48px;
    font-size: 36px;
    font-weight: 300;
    color: #fff;
    margin: 0 25px;
  }
  .footer-info {
    margin-top: 56px;
    background: #333333;
  }
  .footer-info-block {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  .footer-info-item {
    padding: 16px 0;
    font-size: 13px;
    font-weight: 400;
    color: #999999;
  }
  .footer-info-item span:nth-child(2) {
    margin-left: 30px;
  }
  .info {
    margin-top: 100px;
  }
  .info .info-block {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  .info-item {
    flex-basis: 30%;
  }
  .info-item p:nth-child(1) {
    margin: 10px 0;
    font-size: 20px;
    font-weight: 700;
    color: #575153;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .info-item p:nth-child(2) {
    margin: 10px 0;
    font-size: 15px;
    color: #575153;
    font-weight: 700;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .info-item p:nth-child(3) {
    line-height: 22px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #8e8c8c;
  }
  .info-item a {
    display: inline-block;
    border: 2px solid #737373;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    color: #777777;
    transition: 0.3s all linear;
    margin-top: 28px;
    padding: 19px 43px;
  }
  .info-item a:hover {
    color: #fff;
    border: 2px solid #00c8c8;
    background: #00c8c8;
  }
  .location {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
  }
  .location-map {
    flex-basis: 60%;
  }
  .location-info {
    padding: 40px;
    flex-basis: 40%;
    background: #f8f8f8;
  }
  .location-info p {
    line-height: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #575153;
  }
  .location-info p:nth-child(2) {
    font-size: 13px;
    margin: 20px 0 12px 0;
  }
  .location-info p:nth-child(3) {
    line-height: 22px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #8e8c8c;
  }
  .location-info-item {
    margin: 30px 0 55px 0;
    line-height: 32px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #727272;
  }
  .location-info-item li {
    list-style: none;
  }
  .location-info-item span {
    margin-left: 20px;
  }
  .header-block__product {
    display: flex;
    flex-wrap: wrap;
  }
  .header-block__info input {
    height: 50px;
  }
  .header-block__info button {
    background: red;
    border: 1px solid red;
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
  }
  .header-block__product-photo img {
    width: 100px;
  }
}/*# sourceMappingURL=localStore.css.map */